*{
  border: solid 1px greenyellow;
}

.App {
  text-align: center;
}

.table{
  display: table;
  margin: auto;
}

.row{
  display: table-row;
}

.cell{
  display: table-cell;
  height: 50px;
  width: 50px;
}

button{
  font-size:28px;
  height: 82px;
  width: 70px;
}

textarea{
  margin: auto;
  width: 284px;
  height: 60px;
  resize: none;
}